@charset "UTF-8";

.parent{
    color: blue;

    /*親の1階層下のみ*/
    & > .child{
        color: purple;

        /*クラス名1クラス名2 ~クラス名1と2をもつ要素
          クラス名1 クラス名2~クラス名1を親に持ち、クラス2を持つすべての子要素*/
        &.second-child{
            color: black;
        }
    }

    /*親の1階層下すべてに適用*/
    // & .child{
    //     color: purple;
    // }  
}

.child{
    color: red;
}