.parent{
    /*左右の位置の揃え方
     center～中央揃え
     left  ～左揃え
     right ～右揃え*/
    text-align: center;

    background-color: gray;
    height: 800px;
    & .child{
        /*ブロック要素を横並びにする*/
        /*デフォルトはblock*/
        //display: inline-block;
        height: 100px;
        width: 100px;
        /*widthが指定されている場合はmargin:auto;で左右均等に配置する*/
        margin:0 auto;

        &.child-one{
            background-color: red;
        }
        &.child-two{
            background-color: blue;
        }
        &.child-three{
            background-color:yellow;
        }
    }
}

/*実行できない*/
.parent2{
    position: relative;
    background-color: aqua;
    height: 800px;

    & .child2{
        position: absolute;
        top: 50%;
        left: 50%;
        &.child2-one{
            background-color: green;
        }
        &.child2-two{
            background-color: orange;
        }
        &.child2-three{
            background-color: purple;
        }
    }
}