@charset "UTF-8";
/*値を変数に格納できる*/
.btn-list {
  text-align: center;
  /*cssと違ってネストできる*/
}

.btn-list .btn {
  background-color: white;
  /*背景色*/
  color: blue;
  /*文字色*/
  font-weight: 600;
  /*文字の太さ*/
  /*ボックス構造*/
  border: 1px solid black;
  /*枠線*/
  padding: 10px 20px;
  /*枠線と文字との余白*/
  margin: 10px 5px 10px 5px;
  /*要素同士の余白*/
  cursor: pointer;
  /*ホバーしたときのカーソルの種類*/
}

.btn-list .btn1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*変化の指定
                                第一引数 適用するプロパティ(すべてならall)
                                第二引数 変化の時間*/
  /*「&」は接続する必要がある場合は省略できない*/
}

.btn-list .btn1:hover {
  background-color: red;
  color: white;
  -webkit-box-shadow: 5px 5px 5px 10px rgba(42, 132, 165, 0.5);
          box-shadow: 5px 5px 5px 10px rgba(42, 132, 165, 0.5);
  /*影のつけ方
                                           第一引数～X軸
                                           第二引数～Y軸
                                           第三引数～影のぼかし具合
                                           第四引数～影の広がり具合
                                           第五引数～影の色と透明度*/
}

.btn-list .btn2 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /*第三引数　変化の仕方*/
  background-color: red;
  color: white;
  -webkit-box-shadow: 5px 5px 5px rgba(42, 132, 165, 0.5);
          box-shadow: 5px 5px 5px rgba(42, 132, 165, 0.5);
}

.btn-list .btn2:hover {
  background-color: white;
  color: blue;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-list .btn3 {
  -webkit-transition: all 1s ease 3s;
  transition: all 1s ease 3s;
  /*第四引数 遅延時間*/
}

.btn-list .btn3:hover {
  background-color: red;
  color: white;
  letter-spacing: 3px;
}

.btn-list .btn4 {
  -webkit-transition: color 1s ease, background-color 0.3s ease;
  transition: color 1s ease, background-color 0.3s ease;
}

.btn-list .btn4:hover {
  background-color: red;
  color: white;
}

.slider {
  text-align: center;
}

.slider-btn {
  background-color: white;
  /*背景色*/
  color: blue;
  /*文字色*/
  font-weight: 600;
  /*文字の太さ*/
  /*ボックス構造*/
  border: 1px solid black;
  /*枠線*/
  padding: 10px 20px;
  /*枠線と文字との余白*/
  margin: 10px 5px 10px 5px;
  /*要素同士の余白*/
  cursor: pointer;
  /*ホバーしたときのカーソルの種類*/
  position: relative;
  overflow: hidden;
  /*親要素からはみ出た部分は表示しない*/
  z-index: 1;
}

.slider-btn::before {
  /*疑似要素を扱う場合は必要*/
  content: "";
  /*要素にテキストを挿入する*/
  display: inline-block;
  /*heightとwidthが設定できる*/
  width: 100%;
  height: 100%;
  background-color: red;
  /*親がrelativeなので右端に合わせる*/
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*変化した際の時間の掛け方*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*親がz-index=1,子がz-index=1--1
             子が背面に行く*/
  z-index: -1;
}

.slider-btn:hover {
  color: white;
}

.slider-btn:hover::before {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=btn.css.map */